doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')
  body
    .header
      a(href='/', class='logo')
        img(src='./assets/profile/profile.jpg', alt='')
        span MATCH INTERESTS
      .header-right
        a(href='/', class='active') Home
        a(href='#') Login

    .search-container
      select(id='hobbiesDropdown')
        option(value='all') All Hobbies
        option(value='reading') Reading
        option(value='writing') Writing
        option(value='drawing') Drawing
        option(value='music') Music
        option(value='sports') Sports
        option(value='cooking') Cooking
        option(value='traveling') Traveling
        option(value='gaming') Gaming
        option(value='programming') Programming
      button(onclick='filterTable()')
        i(class='fa fa-search')

    table#dataTable
      thead
        tr
          th S No
          th USER
          th Hobbies
          th Location
      tbody
      tbody
        each item in data
          tr
            td= item.s_no
            td= item.user
            td= item.hobbies
            td= item.location

script.
  function filterTable() {
    var dropdown = document.getElementById('hobbiesDropdown');
    var selectedHobby = dropdown.value.toLowerCase();

    var table = document.getElementById('dataTable');
    var rows = table.getElementsByTagName('tr');

    for (var i = 1; i < rows.length; i++) {
      var currentHobby = rows[i].getElementsByTagName('td')[2].innerText.toLowerCase();

      if (selectedHobby === 'all' || currentHobby === selectedHobby) {
        rows[i].style.display = '';
      } else {
        rows[i].style.display = 'none';
      }
    }
  }
